.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  background: #444;
}

.badge-container {
  margin: 1rem 2rem;
  width: 350px;
}

.isHoverable .inner-ring,
.isHoverable .outer-ring {
  transition: 0.3s;
}

.isHoverable:hover .inner-ring {
  opacity: 0.3;
}

.isHoverable:hover .outer-ring {
  opacity: 0.6;
}

svg {
  width: 100%;
}

p {
  color: aliceblue;
}
