.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  background: #444;
}

.badge-container {
  margin: 1rem 2rem;
  width: 350px;
}

svg {
  width: 100%;
}

p {
  color: aliceblue;
}
